body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh; 
    background-color: rgb(227, 227, 193);
}
  
th {
    width: 120px;
    padding-top:25px;
    padding-bottom:30px;
}
  
td {
    padding: 5px;
}

img {
    height: 400px;
    width: 400px;
}

.Game{
    height:600px;
    width:400px;
    border-style:solid;
    border-color:#fe5a1d;
    border-width:2.5px;
    transition: transform 0.3s ease;
}

.Game:hover{
    transform:scale(1.016);
    z-index:5;
}

.detailsButton{
    width:90px;
    height:30px;
}