body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh; 
}
  
th {
    width: 120px;
    padding-top:25px;
    padding-bottom:30px;
}
  
td {
    padding: 5px;
}

img {
    height: 400px;
    width: 400px;
}

.Game{
    height:600px;
    width:400px;
    border-style:solid;
    border-color:black;
    border-radius:3px;
}